---
import { Image } from 'astro:assets';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import Header from '../../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.createdAt.valueOf() - a.data.createdAt.valueOf(),
)
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="w-[960px] max-w-[calc(100%-2rem)] mx-auto">
			<section>
				<ul class="flex flex-wrap gap-8 list-none m-0 p-0">
					{
						posts.map((post, index) => (
							<li class={`${index === 0 ? 'w-full mb-4 text-center' : 'w-[calc(50%-1rem)]'}`}>
								<a href={`/blog/${post.data.slug}/`} class="block no-underline transition-all duration-200 ease-in-out">
									{post.data.headerImage && (
										<Image 
											width={720} 
											height={360} 
											src={post.data.headerImage.url} 
											alt="" 
											class={`${index === 0 ? 'w-full' : ''} mb-2 rounded-xl hover:shadow-[0_2px_6px_rgba(96,115,159,0.25),0_8px_24px_rgba(96,115,159,0.33),0_16px_32px_rgba(96,115,159,0.33)] transition-shadow duration-200`}
										/>
									)}
									<h4 class={`m-0 text-black leading-tight ${index === 0 ? 'text-4xl' : ''}`}>{post.data.title}</h4>
									<p class="m-0 text-gray-500 hover:text-accent transition-colors duration-200">
										<FormattedDate date={new Date(post.data.createdAt)} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
