---
import '../styles/global.css'
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, createdAt, updatedDate, headerImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<main class="w-full max-w-full m-0 px-4">
			<article>
				<div class="w-full">
					{headerImage && <Image width={1020} height={510} src={headerImage.url} alt="" class="block mx-auto rounded-xl shadow-hover-lg" />}
				</div>
				<div class="max-w-prose mx-auto p-4 text-dark-cyan">
					<div class="mb-4 py-4 text-center leading-tight">
						<div class="mb-2 text-dark-cyan">
							<FormattedDate date={createdAt} />
							{
								updatedDate && (
									<div class="italic">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1 class="m-0 mb-2">{title}</h1>
						<hr class="border-none border-t border-gray-200" />
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
